#square{
    position: relative;
    width: 500px;
    height: 500px;
    background-color: turquoise;
    margin: auto;
}
.circle {
    top: 50%;
    left: 50%;
    height: 200px;
    width: 200px;
    background-color: #456BD9;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    margin:auto;
}